h1{
	font: "Arial";
	color: green;
}
h2{
	font: "Arial";
	color: blue;
}
p{
	font: "Arial";
	font-weight: normal;
}
.gray-element{
	background-color: lightgrey;
}
.name{
	background-color: green;
}
button{
	border-radius: 10px;
	color: blue;
	background-color: orange;
}
.black-txt{
	color: black;
}
.reduce-margin{
	margin-top: 1px;
	margin-left: 50px;
	color: red;
}